<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${applicationInfo.pageTitle(pageTitle)}">Файлы :: AGTY/DRIVE</title>
    <link rel="icon" type="image/png" href="/favicon.png?v1">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body data-theme="dark"
      th:attr="data-share-open-resource-id=${shareOpenResourceId},data-share-open-resource-type=${shareOpenResourceType},data-share-success=${shareSuccess},data-share-url=${shareUrl},data-collaborative-success=${collaborativeSuccess},data-item-open-modal=${itemOpenModal},data-item-open-resource-id=${itemOpenResourceId},data-item-open-resource-type=${itemOpenResourceType}">
<div class="drive-shell">
    <th:block th:replace="~{cabinet/fragments :: library-sidebar}"></th:block>

    <div class="drive-main">
        <th:block th:replace="~{cabinet/fragments :: library-topbar}"></th:block>
        <th:block th:replace="~{cabinet/index-content :: library-content}"></th:block>
    </div>
</div>

<th:block th:replace="~{cabinet/index-modals :: library-modals}"></th:block>

<script src="/js/app.js"></script>
</body>
</html>
